<section class="section-container">
  <div class="section-container_background">
    <div class="section-container_background-deeper">


      <div class="main-hero-container">
        <img class="main-hero-container_img" width="150px" src="../../../../assets/img/hero/photo.png" alt="">
        <h1 class="main-hero-container_title">Hey, I'm Krystian!</h1>
        <p class="main-hero-container_desc">A Frontend focused Web Developer building the Frontend of Websites and Web Applications</p>
        <a class="main-hero-container_link" href="#projects">Projects</a>
      </div>


    </div>
  </div>
</section>
